<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <div class="input-wrap">
                <input type="text" class="form-control" name="title" placeholder="What are you doing..."
                       [(ngModel)]="todoTitle"
                       (keyup.enter)="onTodoCreate()" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="projects-wrap">
                <todo-project
                        [projects]="projects"
                        [currentProject]="currentProject"
                        (projectSelect)="onProjectSelect($event)">
                </todo-project>
            </div>
        </div>
        <div class="col-md-3">
            <div class="timewatch-wrap">
                <timer></timer>
                <buttons></buttons>
            </div>
        </div>
    </div>
</div>
