{
    "todos": [
        {
            "id": 1,
            "title": "Learning Angular 2",
            "projectId": 1,
            "done": false,
            "startTime": 1483951299609,
            "duration": 0
        },
        {
            "id": 2,
            "title": "Learning ES 6",
            "projectId": 2,
            "done": false,
            "startTime": 1483951299601,
            "duration": 3600000
        },
        {
            "id": 3,
            "title": "Learning Type Script",
            "projectId": 3,
            "done": false,
            "startTime": 1483951299500,
            "duration": 7200000
        }
    ],
    "projects": [
        {
            "id": 1,
            "title": "Angular 2"
        },
        {
            "id": 2,
            "title": "ES 6"
        },
        {
            "id": 3,
            "title": "Type Script"
        }
    ]
}